pipeline/capture_output1.json
{
	"name": "capture_output1",
	"properties": {
		"activities": [
			{
				"name": "oracletoazuresql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "OracleTable11",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DSMSoutput0011",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "oracletoazuresql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_ETLLog]",
					"storedProcedureParameters": {
						"CopyDuration": {
							"value": {
								"value": "@activity('oracletoazuresql').output.copyDuration",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Error_Details": {
							"value": null,
							"type": "String"
						},
						"IRName": {
							"value": {
								"value": "@activity('oracletoazuresql').output.effectiveIntegrationRuntime",
								"type": "Expression"
							},
							"type": "String"
						},
						"ObjectName": {
							"value": "HR.JOBS",
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PlEndTime": {
							"value": {
								"value": "@formatDateTime(utcNow(), 'HH:mm:ss')\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"PlStartTime": {
							"value": {
								"value": "@variables('starttime')",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('oracletoazuresql').output.rowsCopied",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('oracletoazuresql').output.rowsRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceType": {
							"value": "Oracle",
							"type": "String"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						},
						"TargetName": {
							"value": "Blob storage",
							"type": "String"
						},
						"TargetPath": {
							"value": "storage/output",
							"type": "String"
						},
						"TargetType": {
							"value": "ADLS",
							"type": "String"
						},
						"ThroughPut": {
							"value": {
								"value": "@activity('oracletoazuresql').output.throughput",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LSASD1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "starttime",
					"value": {
						"value": "@formatDateTime(utcNow(), 'HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "oracletoazuresql",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_ETLLog]",
					"storedProcedureParameters": {
						"CopyDuration": {
							"value": {
								"value": "@activity('oracletoazuresql').output.copyDuration",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Error_Details": {
							"value": {
								"value": "@activity('oracletoazuresql').output.Value[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"IRName": {
							"value": {
								"value": "@activity('oracletoazuresql').output.effectiveIntegrationRuntime",
								"type": "Expression"
							},
							"type": "String"
						},
						"ObjectName": {
							"value": "HR.JOBS",
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PlEndTime": {
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy-MMM-dd HH:mm:ss')\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"PlStartTime": {
							"value": {
								"value": "@variables('starttime')",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": null,
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "String"
						},
						"SourceType": {
							"value": "Oracle",
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"TargetName": {
							"value": "Blob storage",
							"type": "String"
						},
						"TargetPath": {
							"value": "storage/output",
							"type": "String"
						},
						"TargetType": {
							"value": "ADLS",
							"type": "String"
						},
						"ThroughPut": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LSASD1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"starttime": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-09T12:19:37Z"
	}
}