pipeline/Transform unstructured health text to FHIR R4 format and write to ADLS Gen2.json
{
	"name": "Transform unstructured health text to FHIR R4 format and write to ADLS Gen2",
	"properties": {
		"description": "Transforms unstructured health data into FHIR R4 format using Text Analytics for Health in Cognitive Services and persists transformed FHIR R4 bundle into Azure Data Lake Storage Gen2 or Blob Storage account.",
		"activities": [
			{
				"name": "Read input data",
				"description": "Reads input data from specified ADLS Gen2 or Blob Storage account, containing unstructured health text to be analyzed and transformed into FHIR R4.",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Read from ADLS Gen2 or Blob Storage",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"storageAccount": {
							"value": "@pipeline().parameters.inputStorageAccount",
							"type": "Expression"
						},
						"storageFolder": {
							"value": "@pipeline().parameters.inputStorageFolder",
							"type": "Expression"
						},
						"storageFile": {
							"value": "@pipeline().parameters.inputStorageFile",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Text Analysis for Healthcare",
				"description": "Performs health text analysis using Text Analytics for Health in Cognitive Services and yields transformed FHIR R4 bundles.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Read input data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Analyze Unstructured Health Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"cognitiveServiceUrl": {
							"value": "@pipeline().parameters.cognitiveServiceUrl",
							"type": "Expression"
						},
						"inputData": {
							"value": "@array(split(activity('Read input data').output.pipelineReturnValue.blobData, '---'))",
							"type": "Expression"
						},
						"ocpApimSubscriptionKey": {
							"value": "@pipeline().parameters.ocpApimSubscriptionKey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Write raw text analysis result to ADLS Gen2",
				"description": "Writes the raw text analysis results to the specified ADLS Gen2 or Blob Storage account.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Text Analysis for Healthcare",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Write to ADLS Gen2 or Blob Storage",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"storageAccount": {
							"value": "@pipeline().parameters.outputStorageAccount",
							"type": "Expression"
						},
						"storageFolder": {
							"value": "@pipeline().parameters.outputStorageFolder",
							"type": "Expression"
						},
						"storageFile": {
							"value": "@{pipeline().parameters.inputStorageFile}_rawTA4HOutput_@{utcnow()}.json",
							"type": "Expression"
						},
						"fileContent": {
							"value": "@activity('Text Analysis for Healthcare').output.pipelineReturnValue.rawTA4HOutput",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Write transformed FHIR bundle result to ADLS Gen2",
				"description": "Writes the transformed FHIR bundle result to the specified ADLS Gen2 or Blob Storage account.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Write raw text analysis result to ADLS Gen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Write to ADLS Gen2 or Blob Storage",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"storageAccount": {
							"value": "@pipeline().parameters.outputStorageAccount",
							"type": "Expression"
						},
						"storageFolder": {
							"value": "@pipeline().parameters.outputStorageFolder",
							"type": "Expression"
						},
						"storageFile": {
							"value": "@{pipeline().parameters.inputStorageFile}_fhirBundlesOutput_@{utcnow()}.json",
							"type": "Expression"
						},
						"fileContent": {
							"value": "@activity('Text Analysis for Healthcare').output.pipelineReturnValue.fhirBundlesOutput",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"inputStorageAccount": {
				"type": "string"
			},
			"inputStorageFolder": {
				"type": "string"
			},
			"inputStorageFile": {
				"type": "string"
			},
			"outputStorageAccount": {
				"type": "string"
			},
			"outputStorageFolder": {
				"type": "string"
			},
			"cognitiveServiceUrl": {
				"type": "string"
			},
			"ocpApimSubscriptionKey": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-20T02:44:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}